html
  head
    title Luden's Echo Main
    link(rel="stlyesheet", href="assets/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="assets/css/main.css")
    
  body
    .container
      .row
        .col-sm-12
        ul.nav.nav-tabs
          li: a(href="http://ludensecho.github.io") Home
      
      .row
        .col-md-12
          h1 COMING SOON: AL Lib
