html
  head
    title Luden's Echo Main
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stlyesheet", href="assets/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="assets/css/main.css")
    
  body
    .container
      .row
        .col-sm-12
        ul.nav.nav-tabs
          li: a(href="http://ludensecho.github.io") Home
      
      .row
        .col-md-12
          h1 COMING SOON: AL Lib
          paragraph.center-text You shall never know the release date O_o
